vllm
huggingface_hub
transformers
tqdm
wandb
ipywidgets
bitsandbytes
accelerate
datasets
hydra-core
omegaconf
evaluate
pydantic
trl
vastai
peft
deepspeed
cachetools
scikit-learn
evaluate
jinja2
colorama
